/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mitomine -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '120.GB'
    max_time   = '6.h'

    // Input data
    input  = "$projectDir/test_data/samplesheet_fastq.csv"
    //input  = "$projectDir/test_data/samplesheet_test.csv"
    seed   = "https://raw.githubusercontent.com/gleisonm/mtDNA_testdb/main/fasta/NC_005089.1.fasta"
    fasta  = "https://raw.githubusercontent.com/gleisonm/mtDNA_testdb/main/fasta/NC_005089.1.fasta"

    // Genome references
  //  genome = 'R64-1-1'
}
